<div class="map-screen-container">
  <img src="/assets/img/bg-map.png" class="map-background" />
  <div class="screen-fade"></div>

  <!-- Stats header -->
  <app-game-status-bar (serviceSelected)="showServiceInfo($event)"></app-game-status-bar>

  <!-- Botones de ciudades disponibles para viajar -->
  <ng-container *ngFor="let city of availableCities()">
    <button
      class="map-city"
      [ngStyle]="{ top: city.y + '%', left: city.x + '%' }"
      (click)="openPopup(city)"
    >
      <img src="/assets/icons/city-icon.png" alt="Ciudad" />
      <span class="city-name">{{ city.name }}</span>
    </button>
  </ng-container>

  <!-- Botón volver -->
  <button class="back-button" (click)="goBack()">⬅ Volver</button>
</div>

<!-- Popup de rutas -->
<ng-container *ngIf="selectedCity() as city">
  <div class="city-popup-overlay" (click)="closePopup()" *ngIf="selectedCity()">
    <div class="city-popup" (click)="$event.stopPropagation()">
      <h2>{{ city.name }}</h2>

      <div class="routes-container">
        <div *ngFor="let route of selectedCity()?.routes" class="route-card">
          <p><strong>{{ route.type }}</strong></p>
          <p *ngIf="route.damage">Causa: {{ route.damageCause }}</p>
          <p>Tiempo estimado: {{ route.travelTime }}h</p>
          <p *ngIf="route.damage > 0">Daño estimado: -{{ route.damage }} puntos de vida</p>
          <button class="btn-travel">Viajar</button>
        </div>
        
      </div>

      <button class="btn-close" (click)="closePopup()">✖</button>
    </div>
  </div>
</ng-container>

<!-- Popup de servicios activos -->
<app-service-popup
  *ngIf="selectedService()"
  [service]="selectedService()"
  (close)="closeServiceInfo()"
></app-service-popup>
