<div class="screen-fade"></div>
<div class="container">


  <div class="button-group">
    <button
      [class.active]="selectedRole === 'CARAVANERO'"
      (click)="select('CARAVANERO')"
      [disabled]="takenRoles.includes('CARAVANERO')"
    >
      Caravanero
    </button>
    <button
      [class.active]="selectedRole === 'COMERCIANTE'"
      (click)="select('COMERCIANTE')"
      [disabled]="takenRoles.includes('COMERCIANTE')"
    >
      Comerciante
    </button>
  </div>

  Mensajes si alguno de los roles ya fue tomado:
  <p class="role-unavailable" *ngIf="takenRoles.includes('CARAVANERO')">
    Rol Caravanero ya ha sido tomado.
  </p>
  <p class="role-unavailable" *ngIf="takenRoles.includes('COMERCIANTE')">
    Rol Comerciante ya ha sido tomado.
  </p>


  <div class="role-description" *ngIf="selectedRole">
    <h3>Descripción del Rol:</h3>
    <p *ngIf="selectedRole === 'COMERCIANTE'">
      Puede comerciar productos en las ciudades, pero no puede viajar entre ciudades ni pagar por servicios.
    </p>
    <p *ngIf="selectedRole === 'CARAVANERO'">
      Puede hacer las acciones del comerciante, pero también puede viajar entre ciudades y pagar por servicios.
    </p>
  </div>

  <button
    class="confirm-button"
    (click)="confirmRole()"
    [disabled]="!selectedRole || loading"
  >
    Seleccionar Rol
  </button>
</div>
