<div class="inventory-screen">
  <div class="screen-fade"></div>
  <img src="/assets/img/bg-inventory.png" class="inventory-background" />

  <!-- Header -->
  <app-game-status-bar (serviceSelected)="showServiceInfo($event)"></app-game-status-bar>

  <!-- Panel para los productos -->
  <app-inventory-panel
    [title]="'Inventario'"
    [items]="productsByCaravan"
    [showFilters]="true">
  </app-inventory-panel>  

  <button class="back-button" (click)="exitInventory()"> ⬅ Volver</button>

  
  <app-service-popup
    *ngIf="selectedService"
    [service]="selectedService"
    (close)="closeServiceInfo()"
  ></app-service-popup>
</div>
