.inventory-screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Forum', serif;
}

.inventory-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.screen-fade {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 5, 0, 0.6);
  z-index: -1;
}

.inventory-panel {
  width: 65%;
  margin: 15vh auto 5vh auto;
  background: rgba(30, 15, 5, 0.75);
  border-radius: 20px;
  padding: 2rem 3rem;
  box-shadow: 0 0 15px #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.inventory-title {
  font-size: 3rem;
  color: #f8e4c3;
  margin-bottom: 1.5rem;
  text-shadow: 1px 1px 2px #000;
}

.inventory-filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

  button {
    font-size: 1rem;
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 8px;
    background-color: #2e1c0d;
    color: #f8e4c3;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    transition: 0.3s;

    &.active, &:hover {
      background-color: #f8e4c3;
      color: #1d1207;
    }
  }
}

.items-scroll {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1.5rem;
  max-height: 420px;
  overflow-y: auto;
  width: 100%;
  padding: 1rem;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #c8aa7e;
    border-radius: 10px;
  }
}

.item-tile {
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid #f8e4c3aa;
  border-radius: 10px;
  padding: 1.2rem 0.8rem;
  text-align: center;
  color: #f8e4c3;
  transition: transform 0.2s ease;
  overflow: hidden;
  height: 190px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: scale(1.04);
    z-index: 0;
  }

  .item-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 8rem;
      height: 8rem;
      object-fit: contain;
      margin-bottom: 0.7rem;
    }

    .item-name {
      font-size: 1.3rem;
      font-family: 'Cinzel', serif;
      text-align: center;
      line-height: 1.2;
    }
  }
}

/* Botón volver */
.back-button {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #f8e4c3aa;
  color: #f8e4c3;
  font-family: 'Cinzel', serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: #f8e4c3;
    color: #1a0e05;
  }
}
