:host {
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.store-products-background {
  background: url('/assets/img/bg-store-products.png') no-repeat center center;
  background-size: cover; // ⚠️ que la imagen se escale para cubrir todo
  background-color: #000; // fallback si no carga
  width: 100%;
  height: 100%;
  padding: 120px 3rem 3rem;
  box-sizing: border-box;
  font-family: 'Forum', serif;
  color: #f8e4c3;
  position: relative;
}


.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px #000;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
