<div class="select-game-background">
  <div class="screen-fade"></div>

  <div class="overlay">
    <h1 class="title">Seleccionar Partida</h1>

    <div class="map-cards">
      <div class="map-card" (click)="startGame()">
        <img src="/assets/img/map1-thumb.png" alt="Mapa 1" />
        <div class="map-title">Mapa 1</div>
      </div>

      <div class="map-card" (click)="startGame()">
        <img src="/assets/img/map2-thumb.png" alt="Mapa 2" />
        <div class="map-title">Mapa 2</div>
      </div>

      <div class="map-card" (click)="startGame()">
        <img src="/assets/img/map3-thumb.png" alt="Mapa 3" />
        <div class="map-title">Mapa 3</div>
      </div>
    </div>


  </div>
</div>
