.status-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.65);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
  font-family: 'Forum', serif;
  font-size: 1.7rem;
  color: #f8e4c3;
  text-shadow: 1px 1px 2px #000;
}

.status-section {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  &.left {
    margin-left: 1rem;
    gap: 2rem;
  }

}

.info-block {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  &:hover  {
    transition: all 0.5s ease;
  }

  &.gold:hover span {
    color: gold;
  }

  &.life:hover span {
    color: crimson;
  }

  &.time:hover span {
    color: lightblue;
  }

  &.city:hover span {
    color: #7cd1a0;
  }

  &.caravan:hover span {
    color: #f1c965;
  }
}


.info-icon {
  width: 2.3rem;
  height: 2.3rem;
  object-fit: contain;
  transition: all 0.5s ease;
}

.info-icon:hover{
  transform: scale(1.2);
}

.victory-popup {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  .popup-content {
    background: #fff;
    border-radius: 8px;
    padding: 24px;
    text-align: center;
    box-shadow: 0 0 10px #000;
  }

  h2 {
    margin-bottom: 10px;
    color: #2e7d32;
  }

  button {
    margin-top: 12px;
    padding: 8px 16px;
    background: #4f3f23;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}

.victory-message {
  color: saddlebrown;
}

