<div class="status-bar">
  <div class="status-section left">
    <div class="info-block caravan">
      <img src="/assets/icons/caravan-icon.png" alt="Caravana" class="info-icon" />
      <span>{{ caravanName() }}</span>
    </div>
    <div class="info-block life">
      <img src="/assets/icons/heart.png" alt="Vida" class="info-icon" />
      <span>{{ lifePoints() }}</span>
    </div>
    <div class="info-block gold">
      <img src="/assets/icons/coin.png" alt="Dinero" class="info-icon" />
      <span>{{ availableMoney() }}/{{ minProfit() }}</span>
    </div>
    <div class="info-block time">
      <img src="/assets/icons/time-icon.png" alt="Tiempo" class="info-icon" />
      <span>{{ remainingTime() }}</span>
    </div>

    <div class="info-block bag">
      <img src="/assets/icons/bag.png" alt="Capacidad" class="info-icon" />
      <span>{{ currentLoad() | number:'1.0-2' }}/{{ maxCapacity() }}</span>
    </div>

    <div class="info-block city">
      <img src="/assets/icons/current-city-icon.png" alt="Ciudad" class="info-icon" />
      <span>Ciudad: {{ cityName() }}</span>
    </div>
  </div>

  <app-active-services-bar
    [activeServices]="activeServices()"
    (serviceSelected)="showServiceInfo($event)">
  </app-active-services-bar>

  <!-- Victory popup -->
  <div class="victory-popup" *ngIf="isVictoryPopupVisible()">
    <div class="popup-content">
      <h2>🎉 ¡Victoria! 🎉</h2>
      <p class="victory-message">Has alcanzado la meta de oro.</p>
      <button (click)="closeVictoryPopup()">Cerrar</button>
    </div>
  </div>



</div>
