<div class="select-game-screen">
  <div class="screen-fade"></div>

  <div class="game-cards">
    @for (slot of gameSlots(); let i = $index; track i) {
      <!-- Verifica si es un slot o si es nulo -->
      <ng-container *ngIf="slot; else newGameCard">
        <div class="game-card" (click)="loadGame(slot)">
          <img 
            [src]="'/assets/img/map' + (i + 1) + '-thumb.png'" 
            [alt]="slot.game.map.name" />
          <span class="card-label">{{ slot.game.map.name }}</span>
        </div>
      </ng-container>
    }
  </div>

  <ng-template #newGameCard>
    <div class="game-card new-game" (click)="createNewGame()">
      <span class="plus-icon">+</span>
      <span class="card-label">Nueva partida</span>
    </div>
  </ng-template>
</div>
