<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Caravana</title>
    <link rel="stylesheet" href="/css/styles2.css"> <!-- Asegura que el CSS se carga correctamente -->
</head>
<body>
    <h3>Detalle de Caravana</h3>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Velocidad</th>
                <th>Capacidad Máxima</th>
                <th>Dinero Disponible</th>
                <th>Puntos de Vida</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${caravana.idCaravana}"></td>
                <td th:text="${caravana.nombre}"></td>
                <td th:text="${caravana.velocidad}"></td>
                <td th:text="${caravana.capacidadMaxima}"></td>
                <td th:text="${caravana.dineroDisponible}"></td>
                <td th:text="${caravana.puntosVida}"></td>
            </tr>
        </tbody>
    </table>

    <br>
    <a th:href="@{/caravana/listar}" class="labelCRUD">Volver a la lista</a>
</body>
</html>
