<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear/Editar Producto</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="center-container">
    <h2 class="crud-title">Gestión de Producto</h2>

    <form class="form-crud" th:action="@{/producto/save}" method="post" th:object="${producto}">
        <!-- 🔹 Aseguramos que el ID se envía -->
        <input class="input-crud" type="hidden" th:field="*{idProducto}">

        <label class="label-crud">Nombre:</label>
        <input class="input-crud" type="text" th:field="*{nombre}" required>

        <label class="label-crud">Descripción:</label>
        <input class="input-crud" type="text" th:field="*{descripcion}" required>

        <label class="label-crud">Peso:</label>
        <input class="input-crud" type="number" step="0.01" th:field="*{peso}" required>

        <button class="button-crud" type="submit">Guardar</button>
    </form>


    <a href="/producto/listar" class="button-crud">Volver</a>
</div>
</body>
</html>
