<!-- Stats header-->
<app-game-status-bar (serviceSelected)="showServiceInfo($event)"></app-game-status-bar>


<!-- background game -->
<div class="resume-background">
  <div class="screen-fade"></div>

  <!-- Clickeable houses -->
  <!-- Casa de productos -->
  <button class="click-zone zone-products"(click)="goToProducts()">
    <span class="zone-label">Entrar a tienda de productos</span>
  </button>

  <!-- Casa de servicios -->
  <button class="click-zone zone-services"(click)="goToServices()">
    <span class="zone-label">Entrar a tienda de servicios</span>
  </button>

  <!-- Map button -->
  <button class="bottom-icon-button map-button" (click)="goToMap()">
    <img src="/assets/icons/map.png" alt="Mapa" />
    <span>Mapa</span>
  </button>

  <!-- Inventory button -->
  <button class="bottom-icon-button inventory-button" (click)="goToInventory()">
    <img src="/assets/icons/bag.png" alt="Inventario" />
    <span>Inventario</span>
  </button>


</div>

<!-- Service popup -->
<div class="service-popup-overlay" *ngIf="selectedService">
  <div class="service-popup">
    <img [src]="selectedService.icon" [alt]="selectedService.name" class="popup-service-icon" />
    <h2>{{ selectedService.name }}</h2>
    <p>{{ selectedService.description }}</p>
    <p><strong>Duración:</strong> {{ selectedService.duration }}</p>
    <button (click)="closeServiceInfo()" class="btn-close">Cerrar</button>
  </div>


</div>


