@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Uncial+Antiqua&family=Almendra+SC&family=Forum&family=Cardo&family=Cormorant+Garamond:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Cinzel', serif;
}

