<div class="popup-backdrop" (click)="closePopup()">
  <!-- para popup cuando se copia el codigo -->
  <div class="copied-toast" *ngIf="copied()">¡Código copiado!</div>

  <div class="popup-card" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="closePopup()">✖</button>

    <div class="popup-content">
      <h2>Invita a un jugador</h2>
      <p class="description">Copia este código y compártelo con otro jugador para que se una a la partida.</p>

      <div class="invite-code">
        {{ inviteCode() }}
      </div>

      <button class="copy-button" (click)="copyToClipboard()">Copiar código</button>
    </div>
  </div>
</div>
