<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Caravana</title>
    <link rel="stylesheet" href="/css/styles2.css">
</head>
<body>
    <header>
        <nav class="menu">
            <ul>
                <li><a th:href="@{/caravan/listar}">Caravanas</a>
                 <li><a th:href="@{/product/listar}">Productos</a></li>


            </ul>
        </nav>
    </header>
    
    <h1 class="crud-title">CRUD Caravanas</h1>
    <p class = "labelCRUD"><a th:href="@{/caravan/crear}">Crear Caravana</a></p>
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th> 
            <th class="acciones-header">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="caravan : ${listaCaravanas}">
            <td th:text="${caravan.getIdCaravan}"></td>
            <td th:text="${caravan.getName}"></td>
            <td>
                <a th:href="@{/caravan/view/{id}(id=${caravan.getIdCaravan})}">Ver</a>
                <a th:href="@{/caravan/editar/{id}(id=${caravan.getIdCaravan})}">Editar</a>
                <a th:href="@{/caravan/eliminar/{id}(id=${caravan.getIdCaravan})}">Eliminar</a>
            </td>
        </tr>
        
        </tbody>
      </table>
</body>
</html>
